<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608224284679-n503ij8uvmt78a1ouh1027mf0l388v25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608224284679-n503ij8uvmt78a1ouh1027mf0l388v25</string>
	<key>API_KEY</key>
	<string>AIzaSyDYUxUVWnycbSHJjGAtX3zfCsNM9rw9y68</string>
	<key>GCM_SENDER_ID</key>
	<string>608224284679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beerelite.app</string>
	<key>PROJECT_ID</key>
	<string>beerelite</string>
	<key>STORAGE_BUCKET</key>
	<string>beerelite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608224284679:ios:f7bbf26ba06a2c88e79aa2</string>
	<key>DATABASE_URL</key>
	<string>https://beerelite.firebaseio.com</string>
</dict>
</plist>